---
import Container from "./Container.astro";
---

<footer class="py-10">
  <Container>
    <div class="flex justify-between">
      <p class="text-slate-500 dark:text-slate-300">
        Desarrollado por @jbuendia1y, ningun derecho reservado.
        <span class="block">Usando como estructura el porfolio de @midudev</span
        >
      </p>
      <ul class="flex gap-3">
        <li>
          <a href="#about-me">Sobre mí</a>
        </li>
        <li>
          <a href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </Container>
</footer>
