.header{
  display: grid;
  place-content: center;
  min-height: 150px;
}

.proyects__list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  justify-items: center;
  gap: 10px;
}