.header{
  display: grid;
  place-content: center;
  min-height: 80vh;
}

.header__image{
  width: 150px;
  height: 150px;
}

.header__image img{
  object-fit: cover;
  object-position: top;
}

.projects__list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  justify-items: center;
  gap: 10px;
}